body {
    margin: 0;
    padding: 0;
    height: 100% !important;
    background: url(../images/background.png);
    background-repeat: repeat;
    background-size: 5vh;
}

.panel {
    padding: 0;
    max-height: 0;
    color: #323232;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.loading {
    display: none
}

.notdec {
    text-decoration: none !important;
    color: #323232 !important
}

#foot {
    margin-top: 10px;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: black 1px solid;
    color: #323232;
    background-color: white;
    text-align: center !important;
}

.header,
.value-img {
    text-align: center
}

.container {
    max-width: 800px;
    padding: 0px 25px;
    min-height: 100% !important;
    position: relative;
    background-color: rgba(255,255,255,0.8);
}

.container1 {
    max-width: 800px;
    margin:0;
    padding: 0;
    min-height: 100% !important;
    position: relative;
    background-color: rgba(255,255,255,0.8);
}

.center-text {
    float: right;
}

.value-img {
    display: block;
    margin: 2.5rem auto 0;
}

.navbar,
.pace-inactive {
    display: none;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0, -4px);
    -moz-transform: rotate(3deg) translate(0, -4px);
    -ms-transform: rotate(3deg) translate(0, -4px);
    -o-transform: rotate(3deg) translate(0, -4px);
    transform: rotate(3deg) translate(0, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner .4s linear infinite;
    -moz-animation: pace-spinner .4s linear infinite;
    -ms-animation: pace-spinner .4s linear infinite;
    -o-animation: pace-spinner .4s linear infinite;
    animation: pace-spinner .4s linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@media (min-width:550px) {
    .header {
        margin-top: 18rem
    }
    .value-img {
        margin-bottom: 1rem
    }
}

@media (min-width:750px) {
    .navbar+.docs-section {
        border-top-width: 0
    }
    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee
    }
    .navbar-spacer {
        display: none
    }
    .navbar>.container {
        width: 100%;
        text-align: center
    }
    .navbar-list {
        list-style: none;
        margin-bottom: 0
    }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0
    }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222
    }
    .navbar-link.active {
        color: #33C3F0
    }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0
    }
    .has-docked-nav .navbar-spacer {
        display: block
    }
    .has-docked-nav .navbar>.container {
        width: 80%
    }
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg)
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg)
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg)
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0);
        transform: perspective(140px) rotateX(0);
        opacity: 1
    }
    100%,
    90% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0);
        transform: perspective(140px) rotateX(0);
        opacity: 1
    }
    100%,
    90% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

@media screen and (max-width:768px) {
    #foot {
        display: none !important
    }
}

mark {
    background-color: #464646b6;
    color: #fefefe;
}